:root {
  /* fonts */
  --main-font: "Roboto", "Helvetica Neue", "Verdana", "Tahoma", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  /* bg-color */
  --background-color-dark: #2f303a;
  --background-color-light: #f5f4fa;
  --background-color-gray: #c4c4c4;
  --background-backdrop: rgba(0, 0, 0, 0.2);
  /* txt-color */
  --color-blue: #2196f3;
  --color-accent-blue: #188ce8;
  --color-ligt: #757575;
  --color-white: #ffffff;
  --color-dark: #212121;
  --color-icon: #afb1b8;
  /* border-color */
  --border-color: #eeeeee;
  --border-color-header: #ececec;
  /* other */
  --indent: 30px;
  --items: 4;
  --transition-basic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.portfolio__link, .adress__link, .clients__link, .nav__link, .logo, .header__contact-link, .social__link {
  text-decoration: none;
  color: currentColor;
}

.portfolio__list, .adress__list, .clients__list, .team__list, .service__list, .feature__list, .nav__list, .header__contact-list, .filter, .social {
  list-style: none;
}

body {
  font-family: var(--main-font);
  color: var(--color-dark);
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

h1,
h2,
h3,
h4,
h5,
ul,
p {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--indent);
}

.card-item {
  -ms-flex-preferred-size: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
      flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.87;
  background-color: var(--color-blue);
  color: var(--color-white);
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color var(--transition-basic);
  transition: background-color var(--transition-basic);
}
.btn:hover, .btn:focus {
  background-color: var(--color-accent-blue);
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--color-icon);
  -webkit-transition: background-color var(--transition-basic), color var(--transition-basic);
  transition: background-color var(--transition-basic), color var(--transition-basic);
}
.social__link:hover, .social__link:focus {
  background-color: var(--color-blue);
  color: var(--color-white);
}

.social__icon {
  fill: currentColor;
}
.social__icon:hover, .social__icon:focus {
  fill: currentColor;
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

.subscribe-form__input {
  padding: 16px;
  width: 358px;
  color: var(--color-white);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
}
.subscribe-form__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-form__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-form__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-form__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form__icon {
  margin-left: 10px;
  fill: currentColor;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
}

.filter__btn {
  padding: 6px 22px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  background-color: var(--background-color-light);
  cursor: pointer;
  border-radius: 4px;
  border: 0px;
  -webkit-transition: background-color var(--transition-basic), color var(--transition-basic), -webkit-box-shadow var(--transition-basic);
  transition: background-color var(--transition-basic), color var(--transition-basic), -webkit-box-shadow var(--transition-basic);
  transition: background-color var(--transition-basic), color var(--transition-basic), box-shadow var(--transition-basic);
  transition: background-color var(--transition-basic), color var(--transition-basic), box-shadow var(--transition-basic), -webkit-box-shadow var(--transition-basic);
}
.filter__btn:hover, .filter__btn:focus, .filter__btn--current {
  background-color: var(--color-blue);
  color: var(--color-white);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: var(--background-backdrop);
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity var(--transition-basic), visibility var(--transition-basic);
  transition: opacity var(--transition-basic), visibility var(--transition-basic);
}

.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop--is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 528px;
  padding: 40px;
  background-color: var(--color-white);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: -webkit-transform var(--transition-basic);
  transition: -webkit-transform var(--transition-basic);
  transition: transform var(--transition-basic);
  transition: transform var(--transition-basic), -webkit-transform var(--transition-basic);
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: fill var(--transition-basic);
  transition: fill var(--transition-basic);
}

.modal__btn:hover,
.modal__btn:focus > .modal__btn-icon {
  fill: var(--color-blue);
}

.modal-form {
  margin-left: auto;
  margin-right: auto;
}

.modal-form__title {
  display: block;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.modal-form__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.modal-form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
}

.modal-form__wrap {
  position: relative;
}

.modal-form__label {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--color-ligt);
}

.modal-form__input,
.modal-form__textarea {
  margin: 0;
  padding: 0;
  width: 100%;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border var(--transition-basic);
  transition: border var(--transition-basic);
}

.modal-form__input {
  height: 40px;
  padding: 11px 12px 11px 42px;
}
.modal-form__input:hover, .modal-form__input:focus {
  border: 1px solid var(--color-blue);
}

.modal-form__textarea {
  padding: 12px 16px;
  height: 120px;
  resize: none;
}
.modal-form__textarea::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__textarea::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__textarea::placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__textarea:hover, .modal-form__textarea:focus {
  border: 1px solid var(--color-blue);
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill var(--color-blue);
  transition: fill var(--color-blue);
}

.modal-form__input:hover + .modal-form__icon,
.modal-form__input:focus + .modal-form__icon {
  fill: var(--color-blue);
}

.modal-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  margin-bottom: 30px;
  cursor: pointer;
}

.modal-checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--color-dark);
  border-radius: 2px;
  -webkit-transition: border-color var(--transition-basic), background-color var(--transition-basic), background-image var(--transition-basic), background-size var(--transition-basic), background-origin var(--transition-basic);
  transition: border-color var(--transition-basic), background-color var(--transition-basic), background-image var(--transition-basic), background-size var(--transition-basic), background-origin var(--transition-basic);
}

.modal-checkbox__input:hover + .modal-checkbox__icon,
.modal-checkbox__icon:focus + .modal-checkbox__icon {
  border-color: var(--color-blue);
}

.modal-checkbox__input:checked + .modal-checkbox__icon {
  border-color: var(--color-blue);
  background-color: var(--color-blue);
  background-image: url("../images/icons/icon/icon check.svg");
  background-size: contain;
  background-origin: border-box;
}

.modal-checkbox__text {
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--color-ligt);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.modal-checkbox__link {
  position: relative;
  color: var(--color-blue);
  text-underline-position: under;
}

.header {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom: 1px solid var(--border-color-header);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  gap: 50px;
}

.header__contact-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: var(--color-ligt);
}

.header__contact-link--active {
  -webkit-transition: color var(--transition-basic);
  transition: color var(--transition-basic);
}
.header__contact-link--active:hover, .header__contact-link--active:focus {
  color: var(--color-blue);
}

.header__contact-icon {
  fill: currentColor;
}
.header__contact-icon:hover, .header__contact-icon:focus {
  fill: currentColor;
}

.header__logo {
  margin-right: 93px;
}

.logo {
  font-family: var(--secondary-font);
  font-size: 26px;
  line-height: 1.19;
}

.logo__excerpt--blue {
  color: var(--color-blue);
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav__link--active {
  -webkit-transition: color var(--transition-basic);
  transition: color var(--transition-basic);
}
.nav__link--active:hover, .nav__link--active:focus {
  color: var(--color-blue);
}

.nav__link--current {
  color: var(--color-blue);
}

.nav__link--current::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  z-index: 100;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--color-blue);
  border-radius: 2px;
}

.intro {
  padding-top: 200px;
  padding-bottom: 200px;
  color: var(--color-white);
  text-align: center;
}

.intro__title {
  width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.overlay {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg/bg.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg/bg.jpg);
  background-color: var(--background-color-gray);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.feature {
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature__wrapper-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px;
  margin-bottom: 30px;
  background-color: var(--background-color-light);
}

.feature__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature__desc {
  color: var(--color-ligt);
}

.service {
  padding-top: 94px;
  padding-bottom: 94px;
  padding-top: 0;
}

.service__list {
  --items: 3;
}

.service__item {
  position: relative;
}

.service__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  background: rgba(47, 48, 58, 0.8);
}

.service__overlay-title {
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--background-color-light);
}

.team__item {
  background-color: var(--color-white);
  font-size: 16px;
  line-height: 1.18;
  border-radius: 0px 0px 4px 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.team__wrap {
  padding: 30px;
  text-align: center;
}

.team__name {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
}

.team__desc {
  color: var(--color-ligt);
  margin-bottom: 16px;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__list {
  --items: 6;
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 92px;
  color: var(--color-icon);
  border: 1px solid currentColor;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: color var(--transition-basic);
  transition: color var(--transition-basic);
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--color-blue);
  color: var(--color-blue);
}

.clients__icon {
  fill: currentColor;
}
.clients__icon:hover, .clients__icon:focus {
  fill: currentColor;
}

.footer {
  background-color: var(--background-color-dark);
  color: var(--color-white);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 70px;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.footer__title {
  text-transform: uppercase;
  line-height: 1.1428571429;
  margin-bottom: 20px;
  font-size: 14px;
}

.footer__social {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--color-white);
}

.footer__subscribe-wrapper {
  margin-left: auto;
}

.adress {
  font-style: normal;
}

.adress__item:not(:last-child) {
  margin-bottom: 9px;
}

.adress__link {
  color: rgba(255, 255, 255, 0.6);
}

.adress__link--white {
  color: var(--color-white);
}

.adress__link--active {
  -webkit-transition: color var(--transition-basic);
  transition: color var(--transition-basic);
}
.adress__link--active:hover, .adress__link--active:focus {
  color: var(--color-blue);
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio__filter {
  margin-bottom: 50px;
}

.portfolio__container {
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
  padding-right: 24px;
  border: 1px solid var(--border-color);
  border-top: none;
}

.portfolio__list {
  --items: 3;
}

.portfolio__link {
  display: block;
  -webkit-transition: -webkit-box-shadow var(--transition-basic);
  transition: -webkit-box-shadow var(--transition-basic);
  transition: box-shadow var(--transition-basic);
  transition: box-shadow var(--transition-basic), -webkit-box-shadow var(--transition-basic);
}
.portfolio__link:hover, .portfolio__link:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio__wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__desc {
  font-size: 16px;
  line-height: 1.87;
  color: var(--color-ligt);
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(33, 150, 243, 0.9);
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity var(--transition-basic), -webkit-transform var(--transition-basic);
  transition: opacity var(--transition-basic), -webkit-transform var(--transition-basic);
  transition: transform var(--transition-basic), opacity var(--transition-basic);
  transition: transform var(--transition-basic), opacity var(--transition-basic), -webkit-transform var(--transition-basic);
}

.portfolio__overlay-desc {
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555555556;
  color: var(--color-white);
}

.portfolio__link:hover .portfolio__overlay,
.portfolio__link:focus .portfolio__overlay {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}/*# sourceMappingURL=main.css.map */