.header {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom: 1px solid var(--border-color-header);
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 93px;
}

.header__contact-list {
  @extend %reset-list;

  display: flex;
  margin-left: auto;
  gap: 50px;
}

.header__contact-link {
  @extend %reset-link;

  display: flex;
  align-items: center;
  gap: 10px;

  color: var(--color-ligt);
}

.header__contact-link--active {
  transition: color var(--transition-basic);

  &:hover,
  &:focus {
    color: var(--color-blue);
  }
}

.header__contact-icon {
  fill: currentColor;

  &:hover,
  &:focus {
    fill: currentColor;
  }
}
