.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  @include mq(mob) {
    width: 470px;
  }

  @include mq(tab) {
    width: 768px;
  }

  @include mq(desk) {
    width: 1200px;
  }
  //  @media screen and (min-width: 470px) {
  //   width: 470px;
  // }

  // @media screen and (min-width: 768px) {
  //   width: 768px;
  // }

  // @media screen and (min-width: 1200px) {
  //   width: 1200px;
  // }
}
