.subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include mq(desk) {
    flex-direction: row;
    align-items: center;
    gap: 12px;
  }

  // @media screen and (min-width: 1200px) {
  //   flex-direction: row;
  //   align-items: center;
  //   gap: 12px;
  // }
}

.subscribe-form__input {
  width: 100%;
  max-width: 450px;
  padding: 16px;
  color: var(--color-white);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;

  &::placeholder {
    font-size: 16px;
    line-height: calc(20 / 16);
    color: rgba(255, 255, 255, 0.6);
  }
}

.subscribe-form__icon {
  margin-left: 10px;
  fill: currentColor;
}
