@mixin section($padding: 60px) {
  padding-top: $padding;
  padding-bottom: $padding;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin mq($range) {
  $mob: 470px;
  $tab: 768px;
  $desk: 1200px;

  @if $range==mob {
    @media screen and (min-width: $mob) {
      @content;
    }
  }

  @if $range==mob-only {
    @media screen and (min-width: #{tab-0.02}) {
      @content;
    }
  }

  @if $range==tab {
    @media screen and (min-width: $tab) {
      @content;
    }
  }

  @if $range==desk {
    @media screen and (min-width: $desk) {
      @content;
    }
  }
}
